# Web Framework
fastapi
uvicorn
jinja2
python-multipart

# AI Libraries (Bỏ số phiên bản cứng để Render tự chọn bản tương thích nhất)
timm
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# Image Processing
pillow
numpy
